.topBar {
  text-align: left;
  height: 40px;
  font-size: smaller;
}
.topBar ul {
  list-style-type: none;
  background-color: #393939;
}
.topBar ul li{
    display: inline;
}
.topBar ul li a {
  text-decoration: none;
  color: #ffff;
  margin-left: 10px;
}
.topBar ul li a:hover{
    color: gray;
}

.imgClass{
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
  }
  .Navbar ul li a{
      color: #393939;
      text-decoration: none;
      font-weight: bold;
  }
  .Navbar ul li a:hover{
      color:#337ab7;
  }
  .navBarOne{
    list-style-type: none;

  }

  .navBarOne a{
      color: gray;
  }
  .navBarTwo  a{
      color: gray;
  }
  .navBarOne a:hover{
      color: #337ab7;
  }
  .navBarTwo{
    list-style-type: none;

    float: right;
  }
  .navBarTwo a:hover{
      color: #337ab7;
  }

  .colRight{
    float: right;
    width: 30%; 
  }
  .colMidline{
      float: center;
      width: 40%;
  }
  .colLeft{
    float: left;
    width: 30%; 
  }
  .card{
      box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
      padding: 10px;
      margin-top: 30px;
      background-color: #fff;
  }
  .card img{
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10))
  }
  .card h3{
      text-align: justify;
      float: right;
      font-size: 16px;
      margin-bottom: 30px;
  }
  .xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

  .xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 8px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../img/img3.jpg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../img/img4.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../img/img1.jpg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../img/img2.jpg);
}
.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}